#content-title h1.title {
 background: #EEEEEE;
 border: 1px solid #CCCCCC;
 color: #000000;
 font-size: 15px;
 padding: 5px;
}

#product-options #content-title h1.title { 
 width: 98%;
 margin-left: -10px;
}

#image01 .main-product-image, #image01 .more-product-images {
 border: 0px !important;
}

#price {
 border-top: 2px solid #000000;
 background-color: #f3f3f3;
}

#product-detail-image {
 float: left;
 width: 250px;
}

#product-detail-form {
 float: right;
 -moz-border-radius: 15px;
 border-radius: 15px;
 border: 1px solid #CCCCCC;
 padding: 20px 0 40px 55px;
 margin-right: 40px;
 width: 225px;
 background-color: #f3f3f3;
}

#product-detail-form .model {
 display: block !important;
}

#product-detail-form #sale-price {
 float: left;
 font-size: 18px;
 font-weight: bold;
}

#product-detail-form .product-info {
 float: left;
 font-weight: normal !important;
 font-size: 12px !important;
}

#product-detail-model {
 clear: both;
 padding: 5px 0 10px 0;
}

#product-detail-form #yellowaddme {
 display: none;
}

#product-options {
 clear: both;
}

.extra-region .block, .content-region div.block, .content-region .node, .content-region .node-form, .content-region .view, .content-region .profile, .content-region .node-type-list, .page-admin #default-content {
 border: 0 !important;
}

#block-uc_upsell-0.block h2, #block-quicktabs-2.block h2 {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #000000;
  border: 1px solid #CCCCCC;
  font-size: 15px;
  padding: 5px;
  margin: 0 15px 0 15px;
}

#edit-qty-wrapper {
 width: 130px;
}

#edit-qty-wrapper .description {
 font-weight: normal;
 font-size: 12px;
}

#edit-qty-wrapper #edit-qty {
 float: right;
}

#product-options .add-to-cart {
 padding: 10px;
}

#add_to_cart_box input#edit-submit.form-submit {
 background: url('/sites/all/themes/tsc2012/images/add_to_cart.png') no-repeat;
 cursor: pointer;
 width: 93px;
 height: 34px;
 border: none !important;
 font-size: 0 !important;
 line-height: 0 !important;
}

.attributes .form-item {
 width: 320px !important;
}